@import url(http://fonts.googleapis.com/css?family=Handlee);

body{
  background-color: #A5DEE4;
  color: #656765;
}

p{
  line-height: 1.5;
}

.container{
  width: 99%;
  border: 1px solid red;
  margin: 0 auto;
}

/*----- Toggle Button -----*/
#panel-btn{
    display:none;
}

/*----- Menu -----*/
@media screen and (min-width: 860px) {
    .menu {
        width:100%;
        padding:0.5em 0;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:#FEDFE1;
    }
}

.menu ul {
    display:inline-block;
}

.menu li {
    margin:0px 50px 0px 0px;
    float:left;
    list-style:none;
    font-size:17px;
}

.menu li:last-child {
    margin-right:0px;

}

.menu a {
    text-shadow:0px 1px 0px rgba(0,0,0,0.5);
    color:#777;
    transition:color linear 0.15s;
}

.menu a:hover, .menu .current-item a {
    text-decoration:none;
    color:#66a992;
}

/*----- Responsive -----*/
@media screen and (max-width: 1150px) {
    .wrap {
        width:90%;
    }
}

@media screen and (max-width: 495px) {
  header{
    border: 1px solid red;
    background-color: #F3F3F3;
    margin: 0 0;
  }

  h1{
      font-size: 1em;
      text-align: center;
      border: 1px solid blue;
      width: 80%;
      margin: .5em auto;
    }

  h2{
    font-size: .8em;
    text-align: center;
    border: 1px solid yellow;
    width: 60%;
    margin: 0 auto;
    }

  header h2{
    margin-top: .5em;
    width: 80%;
  }

    p{
      font-size: .8em;
      border: 1px solid black;
    }

  ul{
    list-style: none;
  }
  .wrap{
    width: 100%;
    margin: 0 auto;
  }

    .menu {
        position:relative;
        width: 12%;
        /*display:inline-block;*/
        /*margin-left:80%;*/
        margin-left: 85%;
        margin-top: -3em;
        margin-bottom: 2em;
        border: 1px solid black;
    }

    .menu ul.active {
        display:none;
        /*width: 100%;*/
        /*margin: 0;
        padding: 2em 0;
        background: #E3F2FD;
        text-align: center;*/
      }

     .menu ul {
        position:absolute;
        top:90%;
        /*margin-right: 85%;*/
        left: -695%;
        right: .5%;
        /*height: 80vh;*/
        padding:1em 2em;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:#FEDFE1;
    }

    .menu ul:after {
        width:0px;
        height:0px;
        position:absolute;
        top:0%;
        /*left:22px;*/
        content:'';
        transform:translate(0%, -100%);
        /*border-left:7px solid transparent;
        border-right:7px solid transparent;
        border-bottom:7px solid #303030;*/
    }

    .menu li {
        margin:1.5em 0 1.5em 0;
        float:none;
        display:block;
        border: 1px solid red;
    }

    .menu li:last-child{
        text-align: center;
    }

    .menu a {
        display:block;
        text-align: center;
    }

/*Panel button menu icon*/
    #panel-btn {
        padding:20px;
        position: relative;
        display:inline-block;
        margin: 0 auto;
        /*margin-left: 85%;
        margin-top: -5em;*/
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:50%;
        background: #FEDFE1;
        text-shadow:0px 1px 0px rgba(0,0,0,0.5);
        color: #D7C4BB;
        font-size:20px;
        transition:color linear 0.15s;
    }


    #panel-btn:hover
    {
        text-decoration:none;
        color:#E87A90;
    }

    /*#panel-btn:active*/


    #panel-btn-icon{
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 14px;
      height: 2px;
      margin: -1px 0 0 -7px;
      background: #B19693;
      transition: .2s;
    }

  #panel-btn-icon:before, #panel-btn-icon:after{
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 2px;
    background: #B19693;
    transition: .3s;
  }
  #panel-btn-icon:before{
    margin-top: -6px;
  }
  #panel-btn-icon:after{
    margin-top: 4px;
  }

  #panel-btn .close{
    background: transparent;
  }
  #panel-btn .close:before, #panel-btn .close:after{
    margin-top: 0;
  }
  #panel-btn .close:before{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  #panel-btn .close:after{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  .home_content .fade_out{

  }

  .grid_item{
    width: 70%;
    border: 1px solid red;
    margin: 0 auto;
    padding: 1em;
  }

  .grid_item:last-child{
    margin-bottom: 1em;

  }

  .message{
   font-family: 'Handlee', cursive;
   font-size: 1em;
   text-align: center;
}
  .message p{
    font-size: .8em;
  }
  .more_message{
    display: none;
  }

  .read_more small{
    font-family: arial;
    font-size: .5em;
    font-weight: bold;
    border: 1px solid red;
  }

  .line{
    display: none;
  }

  footer{
    font-size: 70%;
    text-align: center;
    background-color: #F3F3F3;
  }

}




