@import url(http://fonts.googleapis.com/css?family=Handlee);

body{
  background-color: #F3F3F3;
  color: #4D4D4D;
}

p{
  line-height: 1.5;
}

a:link, a:visited{
  color: #4D4D4D;
}

a:hover, a:active{
  color: #F569A8;
}

ul{
  list-style: none;
  padding-left: 0;
}


.container{
  width: 100%;
  /*border: 1px solid transparent;*/
  margin: 0 auto;
}

/*----- Toggle Button -----*/
#panel-btn{
    display:none;
}

/*----- Menu -----*/
/*@media screen and (min-width: 860px) {
    .menu {
        width:100%;
        padding:0.5em 0;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:#FEDFE1;
    }
}*/

/*.menu ul {
    display:inline-block;
}

.menu li {
    margin:0px 50px 0px 0px;
    float:left;
    list-style:none;
    font-size:17px;
}

.menu li:last-child {
    margin-right:0px;

}

.menu a {
    text-shadow:0px 1px 0px rgba(0,0,0,0.5);
    color:#777;
    transition:color linear 0.15s;
}*/

/*.menu a:hover, .menu .current-item a {
    text-decoration:none;
    color:#66a992;
}*/

/*----- Responsive -----*/
/*@media screen and (max-width: 1150px) {
    .wrap {
        width:90%;
    }
}*/

/*Mobile site*/
@media screen and (max-width: 495px) {
  header .title_subtitle{
    position: relative;
    display: inline-block;
    width: 85%;
    border: 1px solid yellow;
    margin-bottom: 0.5em;
  }
  header .title_bg{
    position: relative;
    width: 100%;
    height: 12em;
    margin: 0 0;
    background-color: #F3F3F3;
    background: url('../images/rose-500_small.jpg');
    z-index: -100;
  }

  h1{
      font-size: 1em;
      text-align: center;
      border: 1px solid blue;
      margin-top: .5em;
      margin-right:auto;
      margin-left: auto;
    }

  h2{
    font-size: .8em;
    text-align: center;
    border: 1px solid blue;
    width: 60%;
    margin: 0 auto;
    }

  header h2{
    margin-top:-0.5em;
    width: 60%;
  }

    p{
      font-size: .8em;
      border: 1px solid transparent;
    }

  .wrap{
    position: relative;
    width: 100%;
    height: 0;
    margin: 0 auto;
    z-index: 100;
  }

  .menu ul{
    height: 0;

  }

  .menu ul.active {
        position:relative;
        width: 100%;
        height: 300px;
        display: block;
        /*margin-bottom: 2em;*/
        text-align: center;
        padding-top: 3em;
        /*padding-bottom: 1em;*/
        margin-top: 0;
        z-index: 100;
    }

  .menu ul.active li{
      margin-bottom: 1em;
  }

.h_menu{
  position: relative;
  display: inline-block;
  border: 1px solid red;
  width: 12%;
}
/*Panel button menu icon*/
    #panel-btn {
        padding:20px;
        position: relative;
        display:inline-block;
        /*width:20px;*/
        /*margin: 0 auto;*/
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:50%;
        background: #FEDFE1;
        text-shadow:0px 1px 0px rgba(0,0,0,0.5);
        /*color: #D7C4BB;*/
        /*color: #F569A8;*/
        font-size:20px;
        transition:color linear 0.15s;
    }


    #panel-btn:hover
    {
        text-decoration:none;
    }


    #panel-btn-icon{
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 14px;
      height: 2px;
      margin: -1px 0 0 -7px;
      background: #4D4D4D;
      transition: .2s;
    }

  #panel-btn-icon:before, #panel-btn-icon:after{
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 2px;
    background: #4D4D4D;
    transition: .3s;
  }
  #panel-btn-icon:before{
    margin-top: -6px;
  }
  #panel-btn-icon:after{
    margin-top: 4px;
  }

  #panel-btn .close{
    background: transparent;
  }
  #panel-btn .close:before, #panel-btn .close:after{
    margin-top: 0;
  }
  #panel-btn .close:before{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  #panel-btn .close:after{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  .fade_out{
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0.1;
  }

/*Content grid*/
  .grid_item {
    border: 1px solid #E8DAE1;
    margin: 1em auto;
    position: relative;
  }

  .grid_item.flex{
    width: 100%-2em;
    height: 100%;
    padding: 1em;
  }

  .grid_item:last-child{
    margin-bottom: 1em;
  }

  .grid_item.inside{
    /*width: 82%;*/
    max-width: 250px;
    height: 215px;
  }

/*The guide to happiness*/
  .message{
   font-family: 'Handlee', cursive;
   font-size: 1em;
   text-align: center;
}
  .message p{
    font-size: .8em;
  }
  .more_message{
    display: none;
  }

  .read_more small{
    font-family: arial;
    font-size: .5em;
    font-weight: bold;
  }

  .line{
    display: none;
  }

  #bg_message{
    background:url('../img/p_rose.svg');
    background-repeat: no-repeat;
  }

/*news*/
.event_list li{
  border-bottom: 1px solid #CCCFC3;
  margin-bottom: .2em;
}



/*grid_item inside*/
 .grid_item h2{
    position: relative;
    margin: 0.2em auto;
  }

  .grid_title{
    position: relative;
    background-color: rgba(224, 235, 217, 0.1);
    margin: 0 auto;
    z-index: 1;
  }

  .contents_info{
    position: relative;
    width: 78%;
    height: 180px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid #E8DAE1;
    margin: 0 auto;
    padding: 1em;
    background-color: rgba(180, 49, 114, 0.3);
    z-index: 10;
    color: #ffffff;
  }

  .contents_info li{
    position: relative;
    top: 30%;
    text-align: center;
  }

  .grid_title:hover{
    background-color: rgba(224, 235, 217, 0.3);
  }

  .contents_info:hover{
    background-color: rgba(180, 49, 114, 0.6);
    color: #ffffff;
  }


/*calender_grid background setting*/
.grid_item.calender_grid{
    background: url('../images/pink rose flower 3-382_lsmall.jpg');
    background-repeat: no-repeat;
  }

/*gendai_grid background setting*/
.grid_item.gendai_grid{
  background: url('../images/uchyuu-382_lsmall.jpg');
  background-repeat: no-repeat;
}

/*singing_grid background setting*/
.grid_item.singing_grid{
  background: url('../images/singingbowl-382_lsmall.jpg');
  background-repeat: no-repeat;
}

/*touch4_grid background setting*/
.grid_item.touch4_grid{
  background: url('../images/ami_reikiP-382_lsmall.jpg');
  background-repeat: no-repeat;
}


/*I have no idea what is for?? */
  .fourth-effect .mask {
   position:absolute; /* Center the mask */
   /*top:50px;*/
   /*left:100px;*/
   cursor:pointer;
   /*border-radius: 50px;
   border-width: 50px;*/
   display: inline-block;
   height: 100px;
   width: 80%;
   border: 50% solid rgba(0, 0, 0, 0.7);
   box-sizing:border-box;
   opacity:1;
   visibility:visible;
   transform:scale(4);
   transition:all 0.3s ease-in-out;
}

.fourth-effect:hover .mask {
   opacity: 0;
   border:0px solid rgba(0,0,0,0.7);
   visibility:hidden;
}

.page_top img{
  position: fixed;
  width: 70px;
  height: 70px;
  right: 1%;
  bottom: 0;
}

  footer{
    font-size: 70%;
    text-align: center;
    background-color: #F3F3F3;
  }

  /*color scheme check to be delete*/
  .col_check{
    height: 1em;
    position: relative;
    display: inline-block;
    color: #4D4D4D;
  }
  #dp{
    background-color: #CC85A7;
  }
  #bp{
    background-color: #E8DAE1;
  }
  #pink{
    background-color: #E6B3D1;
  }
  #gg{
    background-color: #E0EBD9;
  }
  #dg{
    background-color: #CCCFC3;
  }
  #gb{
    background-color: #A3877F;
  }
  #cp{
    background-color: #F569A8;
  }
  #color_scheme{
    background: url('../img/singingbowl.jpg')
  }

}

/*do not use below*/
  .sx {
    /*width: 60%;*/
    /*margin-left: auto;
    margin-right: auto;*/
  }
  .sx img{
    border: 1px solid red;
    width: 20%;
    /*position: relative;*/
   /* display: inline-block;*/
  }

  .sx img{
    -webkit-animation-duration: 3s;
    -o-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-name: slidein;
    -o-animation-name: slidein;
    animation-name: slidein;
  }
@keyframes slidein {
    from{
      margin-bottom: 0%;
      height: 300%;
    }
    to{
      margin-top: -1500%;
      line-height: 100%;
      opacity: 0.1;
    }
  }

  @-webkit-keyframes slidein{
    from{
      margin-bottom: 0%;
      height: 300%;
    }
    to{
      margin-top: -1500%;
      height: 100%;
      opacity: 0.1;
    }
  }
/*above do not use at this moment */


