@import url(http://fonts.googleapis.com/css?family=Handlee);

body{
  background-color: #F3F3F3;
  color: #4D4D4D;
}

p{
  line-height: 1.5;
}

a:link, a:visited{
  color: #4D4D4D;
}

a:hover, a:active{
  color: #F569A8;
}


.container{
  width: 99%;
  border: 1px solid red;
  margin: 0 auto;
}

/*----- Toggle Button -----*/
#panel-btn{
    display:none;
}

/*----- Menu -----*/
@media screen and (min-width: 860px) {
    .menu {
        width:100%;
        padding:0.5em 0;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:#FEDFE1;
    }
}

.menu ul {
    display:inline-block;
}

.menu li {
    margin:0px 50px 0px 0px;
    float:left;
    list-style:none;
    font-size:17px;
}

.menu li:last-child {
    margin-right:0px;

}

.menu a {
    text-shadow:0px 1px 0px rgba(0,0,0,0.5);
    color:#777;
    transition:color linear 0.15s;
}

.menu a:hover, .menu .current-item a {
    text-decoration:none;
    color:#66a992;
}

/*----- Responsive -----*/
@media screen and (max-width: 1150px) {
    .wrap {
        width:90%;
    }
}

@media screen and (max-width: 495px) {
  header .title_bg{
    width: 100%;
    height: 12em;
    margin: 0 0;
    border: 1px solid red;
    background-color: #F3F3F3;
    background: url('../images/rose-500_small.jpg');
    /*height: 12em;*/
    /*background: url('../images/uchyuu-500_small.jpg');*/
    /*margin: 0 0;
    width: 100%;*/

    /*height: 20em;*/
  }

  h1{
      font-size: 1em;
      text-align: center;
      border: 1px solid blue;
      width: 80%;
      margin-top: .5em;
      margin-right:auto;
      margin-left: auto;
    }

  h2{
    font-size: .8em;
    text-align: center;
    border: 1px solid yellow;
    width: 60%;
    margin: 0 auto;
    }

  header h2{
    margin-top:-0.5em;
    width: 60%;
  }

    p{
      font-size: .8em;
      border: 1px solid black;
    }

  ul{
    list-style: none;
  }
  .wrap{
    width: 100%;
    margin: 0 auto;
    height: 3em;
  }

    .menu {
        position:relative;
        width: 12%;
        /*display:inline-block;*/
        /*margin-left:80%;*/
        margin-left: 85%;
        margin-top: -3em;
        margin-bottom: 2em;
        border: 1px solid black;
    }

    .menu ul.active {
        display:none;
        /*width: 100%;*/
        /*margin: 0;
        padding: 2em 0;
        background: #E3F2FD;
        text-align: center;*/
      }

     .menu ul {
        position:absolute;
        top:90%;
        /*margin-right: 85%;*/
        left: -695%;
        right: .5%;
        /*height: 80vh;*/
        padding:1em 2em;
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:3px;
        background:#FEDFE1;
    }

    .menu ul:after {
        width:0px;
        height:0px;
        position:absolute;
        top:0%;
        /*left:22px;*/
        content:'';
        transform:translate(0%, -100%);
        /*border-left:7px solid transparent;
        border-right:7px solid transparent;
        border-bottom:7px solid #303030;*/
    }

    .menu li {
        margin:1.5em 0 1.5em 0;
        float:none;
        display:block;
        border: 1px solid red;
    }

    .menu li:last-child{
        text-align: center;
    }

    .menu a {
        display:block;
        text-align: center;
    }

/*Panel button menu icon*/
    #panel-btn {
        padding:20px;
        position: relative;
        display:inline-block;
        margin: 0 auto;
        /*margin-left: 85%;
        margin-top: -5em;*/
        box-shadow:0px 1px 1px rgba(0,0,0,0.15);
        border-radius:50%;
        background: #FEDFE1;
        text-shadow:0px 1px 0px rgba(0,0,0,0.5);
        color: #D7C4BB;
        font-size:20px;
        transition:color linear 0.15s;
    }


    #panel-btn:hover
    {
        text-decoration:none;
        color:#E87A90;
    }

    /*#panel-btn:active*/


    #panel-btn-icon{
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 14px;
      height: 2px;
      margin: -1px 0 0 -7px;
      background: #B19693;
      transition: .2s;
    }

  #panel-btn-icon:before, #panel-btn-icon:after{
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 2px;
    background: #B19693;
    transition: .3s;
  }
  #panel-btn-icon:before{
    margin-top: -6px;
  }
  #panel-btn-icon:after{
    margin-top: 4px;
  }

  #panel-btn .close{
    background: transparent;
  }
  #panel-btn .close:before, #panel-btn .close:after{
    margin-top: 0;
  }
  #panel-btn .close:before{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  #panel-btn .close:after{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  .home_content .fade_out{

  }

  .grid_item{
    width: 70%;
    height: 14em;
    border: 1px solid red;
    margin: 0 auto;
    padding: 1em;
  }

  .grid_item:first-child{
    width: 70%;
    height: 100%;
    border: 1px solid red;
    margin: 0 auto;
    padding: 1em;
  }

  .grid_item:last-child{
    margin-bottom: 1em;
  }

  .message{
   font-family: 'Handlee', cursive;
   font-size: 1em;
   text-align: center;
   /*margin-top: -5em;*/
   /*background-color: #F3F3F3;*/
}
  .message p{
    font-size: .8em;
  }
  .more_message{
    display: none;
  }

  .read_more small{
    font-family: arial;
    font-size: .5em;
    font-weight: bold;
    /*border: 1px solid red;*/
  }

  .line{
    display: none;
  }

  #one{
    background-color: #A5DEE4;
  }
  .behind {
    border: 1px solid red;
    background-color: #A5DEE4;
  }
  .behind li{
    color: #A5DEE4;
  }

  #bg_message{
    background:url('../img/p_rose.svg');
    background-repeat: no-repeat;
  }

/*do not use below*/
  .sx {
    /*width: 60%;*/
    /*margin-left: auto;
    margin-right: auto;*/
  }
  .sx img{
    border: 1px solid red;
    width: 20%;
    /*position: relative;*/
   /* display: inline-block;*/
  }

  .sx img{
    -webkit-animation-duration: 3s;
    -o-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-name: slidein;
    -o-animation-name: slidein;
    animation-name: slidein;
  }
@keyframes slidein {
    from{
      margin-bottom: 0%;
      height: 300%;
    }
    to{
      margin-top: -1500%;
      line-height: 100%;
      opacity: 0.1;
    }
  }

  @-webkit-keyframes slidein{
    from{
      margin-bottom: 0%;
      height: 300%;
    }
    to{
      margin-top: -1500%;
      height: 100%;
      opacity: 0.1;
    }
  }
/*above do not use at this moment */

/*Gendai reiki grid*/

#gendai_grid img{
  max-width: 100%;
  max-height: 100%;
  position: relative;
  margin-top: -2em;
  z-index: -1;
}

#gendai_grid h3{
  /*margin-top: -5em;*/
}

/*Singing bowl grid*/
  .sb_image{
    max-width: 100%;
    z-index: -999;
    /*background-repeat: no-repeat;*/

  }

  .sb_behind{
    border: 1px solid black;
    max-width: 100%;
   /*margin-top: -50em;*/
    /*margin-bottom: 10em;*/
    text-align: center;
    display: none;
  }

  .sb_behind li{
    /*margin-left: -1.5em;
    margin-bottom: 1em;*/
  }

  /*.hover img{
    background-repeat: no-repeat;
  }*/

/*I have no idea what is for?? */
  .fourth-effect .mask {
   position:absolute; /* Center the mask */
   /*top:50px;*/
   /*left:100px;*/
   cursor:pointer;
   /*border-radius: 50px;
   border-width: 50px;*/
   display: inline-block;
   height: 100px;
   width: 80%;
   border: 50% solid rgba(0, 0, 0, 0.7);
   box-sizing:border-box;
   opacity:1;
   visibility:visible;
   transform:scale(4);
   transition:all 0.3s ease-in-out;
}

.fourth-effect:hover .mask {
   opacity: 0;
   border:0px solid rgba(0,0,0,0.7);
   visibility:hidden;
}

  footer{
    font-size: 70%;
    text-align: center;
    background-color: #F3F3F3;
  }
  .col_check{
    /*width: 5em;*/
    height: 1em;
    position: relative;
    display: inline-block;
    color: #4D4D4D;
  }
  #dp{
    background-color: #CC85A7;
  }
  #bp{
    background-color: #E8DAE1;
  }
  #pink{
    background-color: #E6B3D1;
  }
  #gg{
    background-color: #E0EBD9;
  }
  #dg{
    background-color: #CCCFC3;
  }
  #gb{
    background-color: #A3877F;
  }
  #cp{
    background-color: #F569A8;
  }
  #color_scheme{
    background: url('../img/singingbowl.jpg')
  }

}




